
  .nav {
	list-style: none;
	background-color: blue;
	text-align: right;
	color:white;
	height:50px;
	line-height: 50px;
  }
  .menu {
  margin: 0 30px 0 0;
  }
  .menu a{
	  color:white;
	  text-decoration: none;
	line-height:70px;
	margin: 0 10px;
  }
  label {
	margin: 0 40px;
  line-height: 70px;
	display: none;
  }
  #toggle {
	display: none;
  
  }

header,
footer {
	background-color: #00BFFF;
	display: flex;
	flex-flow: column;
	align-items: center;
  padding: 10px;
}


 article {
	 color: black;
   	font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid black;
	padding: 0 1rem;
	background-color: #DCDCDC;
  margin: 1rem;
  

}
#sumpic {
display: block;
max-width: 100%;
  padding-top: 10px;
padding-bottom: 10px;

  }
article.inner{
position: absolute;
top: 210px;
width: 200px;
height: 300px;
color: black;
}
html {
	max-width: 900px;
	margin: 0 auto;
}
b {
  font-size: 22px;
    letter-spacing: 8px;
}




@media only screen and (max-width: 850px)
{

  label {
    display: block;
    cursor: pointer;
  }
  .menu {
    text-align: center;
    width:100%;
    display:none;
  }
  .menu a{
    display: block;
    border-bottom: 1px solid black;
    margin: 0;
  }
  a:hover{
	  color: white;
background-color: blue;
  }
  .navigation li:first-child {
    display: none;
}

article.forecast, article.inner {
display: none;

}
  #toggle:checked + .menu {
    display:block;
  }
  
}



