
@media only screen and (max-width: 850px)
{
  label {
    display: block;
    cursor: pointer;
  }
  .menu {
    text-align: center;
    width:100%;
  }
  .menu a{
    display: block;
    border-bottom: 1px solid black;
    margin: 0;
  }

article.inner{
font-size:13px;

}

article.forecast {
display: none;

}
  #toggle:checked + .menu {
    display:block;
  }
  
}



